<!DOCTYPE html>
<html lang="en-US">
<head>
 <title>Lean Real</title>
 
    <!--link to mainstyle sheet-->
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
	
<!--coded by Lean Real-->

. {box-sizing: border-box;

}

body { margin: 0;
font-family: Helvetica Neue, sans-serif;
background-color: #000000;
color: #FFFFFF;
}
	
header {background-color: #000000;
  padding: 0.0000225px;
  text-align: center;
  font-size: 30px;
  color: #FFFFFF;
}
    
/* The layout of the navigation sidebar that transports to the other pages */
    
.sidenav {
  width: 2px 75px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  padding-top: 130px;
}

.sidenav a {
  padding: 5px 5px 8px 40px;
  text-decoration: none;
  font-size: 15px;
  color: #FFFFFF;
  display: block;
}

/* When you hover the color changes to gray */
.sidenav a:hover {
	background-color: #DADADA;
}

}
/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 2px;
}
/* body pages of the website */
.main {
  margin-left: 250px; /* Same as the width of the sidenav */
  font-size: 13px; /* Increased text to enable scrolling */
  font-family: monospace;
  padding: 5px 10px;
}

</style>
